@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

*{
  user-select: none;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 0;
  line-height: 24px;
  padding: 7px 17px;
  border-radius: 14px;
  position: relative;
  text-align: center;
  margin: 0px !important;
}

.message {
  display: flex;
  align-items: center;
  margin: 0;
  word-wrap: break-word;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  align-self: flex-end;
  text-align: right;
  border-bottom-right-radius: 0px;
  background: rgba( 13, 110, 253, 0.25 );
  /*backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );*/
}
.received p {
  background: #e5e5ea;
  text-align: left;
  border-bottom-left-radius: 0px;
  background: rgba( 229, 229, 234, 0.25 );
  /*backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );*/
}

.message-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.received .message-text {
  align-items: flex-start;
}

time {
  font-size: 0.7rem;
  color: #9a9a9a;
  margin: 0 1rem;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin: 2px 5px;
}

.img-fluid{
  width: 600px;
  height: auto;
  max-height: 800px;
}

.message:last-child {
  margin-bottom: 20px;
}

input[type="text"] {
  font-family: monospace;
  /*backdrop-filter: blur(10px);*/
  background: transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: grey;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .img-fluid{
    width: 400px;
    height: auto;
  }
}
